<html>
<head>
   <title>Demo CRUD</title>
</head>
<body>
   <h2>Ubah Data</h2>
   
   <form action="url_for('edit', kode={{data[0]}})" method="post">
      Kode:<br />
      <input type="text" name="kode" size="15" 
      value="{{data[0]}}" maxlength="4" readonly /><br />
      Judul buku:<br />
      <input type="text" name="judul" size="50" 
      value="{{data[1]}}" maxlength="40" /><br />
      Penulis:<br />
      <input type="text" name="penulis" size="30" 
      value="{{data[2]}}" maxlength="25" /><br />
      <p><input type="submit" value="Simpan"></p>
   </form>
   
</body>
</html>
